.Container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
   
      


  }
  .Container  :hover{
  background-color:rgb(234, 245, 233);
   border-color: brown;

  }
  
  .Container p {
    margin: 0;
    padding: 10px 10px 10px 10px; 
    border-right: 0.5px solid;
    border-color: rgb(224, 214, 214);
    background-color: aliceblue;
    width:  10%;
    height:  13px;
    margin: 5px;

   text-align: center;
   justify-content: center;
   text-size-adjust: 10px;
  
  }
  